.about-car{
    background-image: url('../data/offer-bg.png'); 
    /* Corrected path */
    width: 100%;
    height: 510px;
    align-items: center;
    background-repeat: no-repeat;
    background-size:cover; /* Ensures the image covers the container */
    background-position: center; /* Centers the image within the container */
}
.about-car img{
    height: 300px;
}
.middle-banner{
    background-image: url('../data//banner.jpg');
    background-position: center;
    background-size: cover;
    height: 500px;
    width: 100%;

}


@media screen and (max-width: 768px) {
    
    .middle-banner{
        background-image: url('../data/bg-banner.jpg');
        background-position: center;
        background-size: cover;
        height: 800px;
        width: 100%;

    }
    
    
    .about-car {
        height: 1000px;
        display: flex;
        row-gap: 0px;
        padding: 0px;
        flex-direction: column;
        background-image: url('../data/mobile-offer-bg.png'); /* Background for tablets and smaller screens */
    }
    .about-car div img{
        height: 200px;
        margin-bottom: 110px;
    }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
    /* Add your styles for tablets here */
    .banner-container {
      flex-direction: column;
      justify-content: center;
      padding: 20px;
    }
  
    .middle-banner {
      flex-direction: row; /* Adjust for tablet view */
      justify-content: space-between;
      align-items: center;
    }
  
    .contens {
      text-align: left;
      padding: 10px 20px;
    }
  
    img {
      width: 80%; /* Adjust image width for tablets */
      margin: auto;
    }
  
    button {
      font-size: 16px;
      padding: 10px 15px;
    }
  }

  

